 .header {
    margin: 0 0.5rem;
    padding: .5rem 0;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.headerLeft{
    display: flex;
    width: 80%;
} 

.headerRight {
    display: flex;
}

.log-btn,
.sign-btn {
    margin: 0 10px;
    font-size: 1.2rem;
    cursor: pointer;
    color: greenyellow;
    background-color: black;
    border: none;
}

.header__icon {
    width: 60px;
}

.landing-heading{
    color: red;
    margin-left: 1%;
}
